/* You can add global styles to this file, and also import other style files */
body{
    background:#efefef;
    font-family:'Open Sans';

}
.main-content{
    padding-top:60px;
    color:#333;
    
}